%h1
  CART

- if @cart_products.nil?
  Your cart is empty
- else
  Items in your cart:
  %ul
    -@cart_products.each do |p|
      %li
        =link_to p.name, product_path(p)
        %br
        %ul
          %li
            =link_to "Remove item", cart_remove_path(cart: {product_id: p.id, user_id: current_user.id}), method: :delete
  %br
  %br
  %br
  = link_to "Checkout", new_order_path(order_params:{products:@cart_products})

  
  