%h1 Welcome to Amazekart!!!
%h2 The one-stop-shop for all your needs!!

%h4 Find products across these categories
%ul
  - @verticals.each do |v|
    %li 
      = link_to  v.name , vertical_path(v)
%br/
%h4 Top Products :
%ul
  - @top_products.each do |product|
    %li
      = product.name 
      %br/
      = product.description
      %br/