%h1 Wishlist

%ul
  - @wishlist_products.each do |product|
    %li
      = link_to product.name , product_path(product)
      %ul
        %li
          = product.description
          , Priced at : $
          =product.price
          %br
          =link_to "Remove", wishlist_path(Wishlist.find_by(user_id:current_user.id, product_id:product.id).id), method: :delete
      